// place your custom styles here
.vp-hero-info-wrapper{
    min-height: 50vh;
}

.vp-feature-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.vp-hero-image{
    border-radius: 50%;
}

body:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
    content: "";
    position: fixed;
    // background: url(https://api.armoe.cn/acg/random) center/cover;
    background: url(/back.jpg) center/cover;
    pointer-events: none;
}